.footer {
  background-color: $bg-footer;
  &__wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 500px) {
      flex-direction: column;
    }
    h2 {
      font-family: $font-secondary;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
    }
  }
  &__logo {
    max-width: 150px;
    span {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
